@import '~bootstrap/scss/bootstrap.scss';

.btn-light {
    color: #212529;
    background-color: #fff;
    border-color: #333;

    &:hover {
        color: #fff;
        background-color: #333;
        border-color: #555;
    }
}